@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

.font-serif {
  font-family: var(--font-serif);
}
